@media only screen and (max-width: 1500px) {
  .main {
    .composition-block {
      &_text {
        font-size: 40px;
      }
    }
  }
}
@media only screen and (max-width: 1300px) {
  .main {
    .composition-block {
      &_text {
        font-size: 30px;
      }
      .learn-more a {

      }
    }
  }
}
@media only screen and (max-width: 1270px) {
  .header {
    .bonus-menu ul li {
      font-size: 14px;
    }
  }
  .main {
    .message-block  {
      .message-text {
        font-size: 40px;
      }
      .container.main-container > .message-text {
        margin-bottom: -25px;
      }
      &_text {
        top: 80px;
      }
    }
    .try-block_image {
      padding: 30% 0;
    }
  }
}
@media only screen and (max-width: 1100px) {
  .header {
    .bonus-menu ul li {
      font-size: 12px;
    }
  }
  .main {
    .try-block_image {
      padding: 30% 0;
    }
    .try-block_text {
      .try-text {
        font-size: 46px;
      }
    }
    .cred-block {
      padding: 60px 0 30px;
      &_images-inner {
        margin-bottom: 30px;
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .header {
    .bonus-menu ul li{
      font-size: 10px;
    }
    .bottom-menu_block {
      .menu-block_list {
        a {
          font-size: 14px;
        }
      }
      .logo-block {
        width: 170px;
        height: 127px;
      }
    }
  }
  .main {
    .try-block_image {
      padding: 35% 0;
    }
    .try-block_text {
      .try-text {
        font-size: 36px;
      }

    }
    .try-block_bottom-text {
      p {
        font-size: 20px;
      }
    }
    .learn-more a {
      font-size: 22px;
    }
    .composition-block {
      .main-container {
        padding: 0 10%;
      }
      &_text {
        font-size: 24px;
      }
    }
    .product-block {
      padding: 80px 0 90px;
    }
  }
  .footer-menu li a {
    font-size: 12px;
  }
}
@media only screen and (max-width: 800px) {
  .header {
    .bottom-menu_block {
      .menu-block_list {
        a {
          font-size: 12px;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .header {
    .bonus-menu{
      display: none;
    }
    .menu-block {
      display: none;
      &.active {
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        background: #f4f2e9;
        bottom: 0;
        padding: 30px 15px;
        ul li {
          text-align: center;
          padding: 0 30px;
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          a {
            font-size: 16px;
          }
        }
        .close-btn {
          position: fixed;
          top: 15px;
          right: 15px;
          i {
            font-size: 20px;
          }
        }
      }
    }
    .bottom-menu_block .menu-block {
      width: initial;
    }
  }
  .main {
    .header-image {
      .off-block {
        position: initial!important;
        margin-top: 50px;
      }
    }
    .product-block_image {
      &-left,&-right {
        width: 90%;
        margin: auto;
      }
      &-right {
        padding-top: 0;
      }
      &-left {
        margin-bottom: 80px;
      }
    }
    .product-block_description {
      position: absolute;
      @include transform-rotate($deg: -90deg);
    }
    .message-block {
      .container.main-container > .message-text {
        @include transform-translateX(0px);
        font-size: 90px;
        text-align: left;
        margin-bottom: -70px;
      }
      .shop-message {
        position: initial!important;
        font-size: 46px;
      }
      .bottom-text {
        margin-top: 50px;
      }
    }
    .scent-block .quiz-link {
      padding-right: 0;
      text-align: left;
    }
    .try-block_bottom-text {
      position: initial;
      padding: 50px 15px;

      @include transform-translateX(0);
      p {
        margin-bottom: 40px;
      }
    }
    .composition-block {
      border-top: 1px solid $black;
      &_text {
        font-size: 18px;
      }
    }
    .cred-block_images {
      padding: 0 30px;
    }
    .try-block_bg {
      height: 150px;
    }
  }
}


@media only screen and (max-width: 600px) {
  .main {
    .message-block .container.main-container > .message-text {
      font-size: 56px;
    }
    .cred-block_images-inner {
      height: 70px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .main {
    .message-block .container.main-container > .message-text {
      font-size: 46px;
    }
    .message-block .shop-message {
      font-size: 36px;
    }
  }
}