<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="date=no">
	<meta name="format-detection" content="address=no">
	<meta name="format-detection" content="email=no">
	<title>DedCool</title>
	<!--<link rel="icon" href="{{url('/images/favicon.png')}}" sizes="16x16"/>-->
	<!--<link rel="shortcut icon" href="{{url('/images/favicon.ico')}}" sizes="16x16"/>-->
	<!--<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{url('/images/apple-touch-57.png')}}">-->
	<!--<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{url('/images/apple-touch-72.png')}}">-->
	<!--<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{url('/images/apple-touch-114.png')}}">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="sass/app.css">
</head>
<body>
	<header class="header position-absolute">
        <div class="container-fluid bonus-menu">
            <ul class="list-unstyled d-flex justify-content-between">
                <li class="text-uppercase">risk free trials</li>
                <li>+</li>
                <li class="text-uppercase">quadpay</li>
                <li>+</li>
                <li class="text-uppercase">complimentary samples w/ every fragrancee order</li>
                <li>+</li>
                <li class="text-uppercase">free shipping for aorders over $60 *us only</li>
            </ul>
        </div>
        <div class="container main-container bottom-menu_block d-flex align-items-center justify-content-between">
            <div class="mobile-menu d-md-none"><button class="btn text-uppercase">menu</button></div>
            <div class="logo-block">
                <a href="#" class="d-block logo-block_link"><img src="images/dedcool-logo.png" alt="logo"></a>
            </div>
            <nav class="menu-block d-md-block">
                <ul class="list-unstyled d-md-flex justify-content-between">
                    <li class="menu-block_list text-uppercase"><a href="#" class="active">shop</a></li>
                    <li class="menu-block_list text-uppercase"><a href="#">education</a></li>
                    <li class="menu-block_list text-uppercase"><a href="#">about</a></li>
                    <li class="menu-block_list text-uppercase"><a href="#">quiz</a></li>
                    <li class="menu-block_list text-uppercase"><a href="#">search</a></li>
                    <li class="menu-block_list text-uppercase"><a href="#">account</a></li>
                    <li class="menu-block_list text-uppercase"><a href="#"><i class="fa fa-star"></i></a></li>
                    <li class="menu-block_list text-uppercase d-none d-md-block"><a href="#">cart</a></li>
                </ul>
                <button class="btn close-btn"><i class="fa fa-times"></i></button>
            </nav>
            <div class="mobile-cart d-md-none"><a href="#" class="text-uppercase">cart</a></div>
        </div>
	</header>
    <main class="main">
        <div class="header-image position-relative">
            <img src="images/temp/header-img.jpg" alt="">
            <a href="#" class="shop-all text-uppercase position-absolute d-none d-md-block">shop all</a>
            <div class="container main-container mobile-shop-all">
                <div>
                    <a href="#" class="shop-all text-uppercase d-md-none"><span class="d-block">shop</span> eau de perfume</a>
                </div>

                <div class="off-block position-absolute d-inline-block"><p class="off-block_text">15% off</p></div>
            </div>

        </div>
        <div class="container-fluid product-block_fluid">
            <div class="container main-container product-block">
                <div class="product-block_description d-none d-md-block">
                    <ul class="list-unstyled d-flex justify-content-center">
                        <li class="text-uppercase"><a href="#">100% uni-sex</a></li>
                        <li class="text-uppercase"><a href="#">Non toxic.</a></li>
                        <li class="text-uppercase"><a href="#">vegan</a></li>
                        <li class="text-uppercase"><a href="#">made in la.</a></li>
                    </ul>
                </div>
                <div class="product-block_image d-md-flex justify-content-between">
                    <div class="product-block_image-left">
                        <a href="#" class="d-block image-link"><img src="images/temp/perfume1.png" alt="perfume"></a>
                        <div class="d-flex justify-content-between type"><a href="#">Shop</a><a href="#">Perfume</a></div>
                    </div>
                    <div class="product-block_image-right">
                        <a href="#" class="d-block image-link"><img src="images/temp/perfume2.png" alt="perfume"></a>
                        <div class="d-flex justify-content-between type"><a href="#">Shop</a><a href="#">Perfume</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="message-block position-relative">
            <div class="container main-container position-relative">
                <h2 class="text-uppercase message-text">Message candle 01 "taunt"</h2>
                <div class="message-block_text d-none d-md-block">
                    <h2 class="text-uppercase message-text">Message candle 01 "taunt"</h2>
                    <h2 class="text-uppercase message-text">Message candle 01 "taunt"</h2>
                </div>
            </div>
            <img src="images/temp/massage-candle.png" alt="">
            <div class="container main-container bottom-text">
                <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of</p>
            </div>
            <div class="container main-container">
                <h5 class="shop-message text-uppercase">shop Message candle 01 "taunt"</h5>
            </div>
        </div>
        <div class="cred-block">
            <div class="container main-container cred-block_images">
                <div class="row">
                    <div class="col-4 col-md-3">
                        <div class="cred-block_images-inner"><a href="#" class="d-block w-100 h-100" style="background-image: url('images/temp/voguee.png')"></a></div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="cred-block_images-inner"><a href="#" class="d-block w-100 h-100" style="background-image: url('images/temp/wwd.png')"></a></div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="cred-block_images-inner"><a href="#" class="d-block w-100 h-100" style="background-image: url('images/temp/gq.png')"></a></div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="cred-block_images-inner"><a href="#" class="d-block w-100 h-100" style="background-image: url('images/temp/byrdie.png')"></a></div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="cred-block_images-inner"><a href="#" class="d-block w-100 h-100" style="background-image: url('images/temp/forbes.png')"></a></div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="cred-block_images-inner"><a href="#" class="d-block w-100 h-100" style="background-image: url('images/temp/bazaar.png')"></a></div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="cred-block_images-inner"><a href="#" class="d-block w-100 h-100" style="background-image: url('images/temp/glamour.png')"></a></div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="cred-block_images-inner"><a href="#" class="d-block w-100 h-100" style="background-image: url('images/temp/allure.png')"></a></div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="cred-block_images-inner"><a href="#" class="d-block w-100 h-100" style="background-image: url('images/temp/wallpaper.png')"></a></div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="cred-block_images-inner"><a href="#" class="d-block w-100 h-100" style="background-image: url('images/temp/nylon.png')"></a></div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="cred-block_images-inner"><a href="#" class="d-block w-100 h-100" style="background-image: url('images/temp/wellgood.png')"></a></div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="cred-block_images-inner"><a href="#" class="d-block w-100 h-100" style="background-image: url('images/temp/W.png')"></a></div>
                    </div>
                </div>
            </div>
            <p class="left-text our-cred text-uppercase">Our Cred</p>
        </div>
        <div class="container-fluid scent-block">
            <div class="container main-container">
                <p class="text-uppercase text-md-center">not sure about your scent</p>
                <p class="text-uppercase text-md-center">let us help find your scent</p>
                <div class="quiz-link">
                    <a href="#" class="text-uppercase">take the quiz</a>
                </div>
            </div>
        </div>
        <div class="container-fluid try-block">
            <div class="container main-container try-block_text">
                <h2 class="text-uppercase try-text">try before you buy</h2>
                <div class="d-none d-md-block">
                    <h2 class="text-uppercase try-text">try before you buy</h2>
                    <h2 class="text-uppercase try-text">try before you buy</h2>
                </div>
                <div class="learn-more mt-0 text-center d-none d-md-block">
                    <a href="#" class="text-uppercase">learn more</a>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4 try-block_bg"></div>
                <div class="col-md-8 try-block_image" style="background-image: url('images/temp/DC+Malik_14 copy@2x.png')"></div>
            </div>
            <div class="container main-container try-block_bottom-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laborum magnam maiores nemo sunt, voluptatem? Adipisci architecto, dolor dolorem eaque exercitationem ipsum magnam quas quo quos repellendus, rerum tenetur, veniam veritatis voluptas voluptatem!</p>
                <div class="learn-more d-md-none">
                    <a href="#" class="text-uppercase">learn more</a>
                </div>
            </div>

        </div>
        <div class="composition-block">
            <div class="container main-container">
                <p class="composition-block_text">
                    <span>Composition:no water, longer lasting scents, 30%-35%
                    fragrance , 60%-70% alcohol, Beneficial organic extracts.</span>
                    non-tixic:  no palates, no parabens, no animal by products, no
                    carcinogens.Certification: PETA,Vegan, Prop 65, IFRA compliant.
                    Made in LA: created, distilled, filtered. refreigerated, filled,
                    packed and shipping from
                    our in house Facility.
                </p>
                <div class="learn-more text-md-right">
                    <a href="#" class="text-uppercase ">learn more</a>
                </div>

            </div>
            <p class="left-text text-uppercase">transparency</p>
        </div>
        <div class="red-block" style="background-image: url('images/temp/red.png')"></div>
        <div class="container main-container red-block_bottom d-md-none">
            <p>rose are red,violets are blue,pick a dedcool scents that's right for you</p>
            <p class="mb-4 mb-sm-5">Here's 45% off</p>
            <form action="">
                <input type="text" placeholder="enter email addres" name="email" class="email-input">
            </form>
        </div>
    </main>
    <footer class="footer">
        <div class="container-fluid">
            <div class="container main-container">
                <ul class="footer-menu list-unstyled d-none d-md-flex justify-content-between">
                    <li class="text-uppercase"><a href="#" target="_blank">faq</a></li>
                    <li class="text-uppercase"><a href="#">contact</a></li>
                    <li class="text-uppercase"><a href="#" target="_blank">stockiest</a></li>
                    <li class="text-uppercase"><a href="#" target="_blank">features</a></li>
                    <li class="text-uppercase"><a href="#" target="_blank">policy & teams</a></li>
                    <li class="text-uppercase"><a href="#" target="_blank">Facebook</a></li>
                    <li class="text-uppercase"><a href="#">instagram</a></li>
                    <li class="text-uppercase"><a href="#" target="_blank">by.</a></li>
                    <li class="text-uppercase"><a href="#" target="_blank">c.dedcool</a></li>
                </ul>
                <div class="d-md-none footer-menu_mobile">
                    <div class="row">
                        <div class="col-6">
                            <ul class="list-unstyled">
                                <li class="text-uppercase"><a href="#" target="_blank">Facebook</a></li>
                                <li class="text-uppercase"><a href="#">instagram</a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-unstyled">
                                <li class="text-uppercase"><a href="#" target="_blank">stockiest</a></li>
                                <li class="text-uppercase"><a href="#" target="_blank">features</a></li>
                                <li class="text-uppercase"><a href="#" target="_blank">policy & teams</a></li>
                                <li class="text-uppercase"><a href="#" target="_blank">faq</a></li>
                                <li class="text-uppercase"><a href="#">contact</a></li>
                                <li>
                                    <ul class="list-unstyled">
                                        <li class="text-uppercase"><a href="#" target="_blank">by.</a></li>
                                        <li class="text-uppercase"><a href="#" target="_blank">c.dedcool</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
